/* ============== enemy =========== */
.enemy {
  position: relative;
  z-index: 2;

  /* temp */
  margin-top: 100px;
}

.enemy img {
  margin-inline: auto;
}
/* ============== enemy =========== */

/* ============= sahred frame ========== */
.frame {
  position: absolute;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 250px;

  aspect-ratio: 1.667 / 1;
}

.frame .frame__text {
  position: absolute;
}
/* ============= sahred frame ========== */

/* ============== damage effect =========== */
.damage {
  position: absolute;
  top: 18%;
  right: 42%;
  width: 100px;
  height: 50px;

  font-weight: 700;
  font-size: 1.5rem;
  color: #e33838;
  text-align: center;

  opacity: 1;
  animation: up-and-fade 1000ms linear forwards;
  z-index: 10000;
  background-color: transparent;
}

@keyframes up-and-fade {
  to {
    top: 0;
    opacity: 0;
  }
}
/* ============== damage effect =========== */

/* ============= 1 LEVEL ENEMY FRAMES ============= */
.frame__1--intro {
  top: -14%;
  left: -120%;
}

.frame__1--isNotArrested {
  left: -108%;
  top: -19%;
  min-width: 320px;
  background-size: 95%;
}

.frame__1--isArrested {
  left: -97%;
  top: -20%;
  min-width: 350px;
  background-size: 95%;
}

.frame__1--intro .frame__text {
  top: 24%;
  left: 5%;
}

.frame__1--isNotArrested .frame__text {
  top: 47%;
  left: 33%;
  width: 45%;
}

.frame__1--isArrested .frame__text {
  top: 32%;
  left: 33%;
  width: 43%;
}

/* ============= 1 LEVEL ENEMY FRAMES ============= */
