.level {
  --height: 100px;
  --bg-clr: #242424;
  --position: -5%;
  --anim-config: 1s forwards;

  position: relative;
  width: 100%;
  height: 100vh;

  overflow: hidden;
  background-color: var(--bg-clr);
}
.level__enemy-container-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: 100%;
  transition: transform 200ms linear;

  transform: translateX(-20px);

  animation: slide-in-to-right 1s linear forwards;
}

.level--1 {
  background-size: 100%;
  background-position-y: 108%;
}

.level--2 {
  background-size: 100% 115%;
  background-position-y: 70%;
}
.level--3 {
  background-size: 100% 115%;
  background-position-y: 70%;
}
.level--4 {
  background-position-y: 30%;
}

.level__header {
  position: absolute;
  top: var(--position);
  left: 0;
  right: 0;
  height: var(--height);
  background-color: var(--bg-clr);
  transition: all 200ms;
  animation: top-in var(--anim-config) 1s;
  z-index: 3;
}

.level__top-dashboard-wrapper {
  position: absolute;
  inset: 0;
  background-color: inherit;
  padding: 1.25rem;
  opacity: 0;
  visibility: hidden;

  transition: all 1000ms;
}

.level.play .level__top-dashboard-wrapper {
  opacity: 1;
  visibility: visible;
}

.level__enemy-container {
  position: relative;
  top: -20px;
  height: calc(100% - var(--height) * 1.5);
}

.level__footer {
  position: absolute;
  bottom: var(--position);
  left: 0;
  right: 0;
  height: calc(var(--height) * 1.25);
  background-color: var(--bg-clr);
  transition: all 200ms;
  animation: bottom-in var(--anim-config) 1s;
  z-index: 3;
}

.level__footer-dialogue-wrapper {
  position: absolute;
  inset: 0;
  background-color: inherit;
}

.level__footer-controls-panel-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--height);
}

.level.play .level__footer {
  bottom: 0;
  animation: bottom-out 1s forwards;
}

.level__footer-action-tip {
  position: absolute;
  inset: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;

  transition: all 200ms;
}
.level.level.play .level__footer-action-tip {
  opacity: 1;
  visibility: visible;
}

@keyframes slide-in-to-right {
  to {
    transform: translateX(0);
  }
}

@keyframes top-in {
  to {
    top: 0;
  }
}
@keyframes bottom-in {
  to {
    bottom: 0;
  }
}
@keyframes bottom-out {
  from {
    bottom: 0;
  }
  to {
    bottom: var(--position);
  }
}

.arrested {
  position: absolute;
  top: 40%;
  left: 50%;

  width: 300px;
  height: 200px;

  transform: translate(-50%, -50%) rotate(25deg) scale(3);
  transition: transform 200ms ease-out;
  animation: arrested 1s forwards cubic-bezier(1, 0.31, 0.79, 0.6) 1s;
  opacity: 0;
  z-index: 100;
}

.arrested::selection {
  background-color: transparent;
}

@keyframes arrested {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(25deg) scale(1);
  }
}
