.game-menu {
  --btn-fs: 2rem;
  --btn-text-fill-clr: #ffffff;
  --btn-text-stroke-clr: #000000;
  --side-padding: 6px;
  --shadow-clr: #222222;
  --height: 250px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  min-width: 250px;
  max-width: max(400px, 500px);
  margin-inline: auto;

  height: var(--height);
}
.game-menu__side {
  position: relative;
  height: var(--height);
}

.game-menu__side--left {
  padding-right: var(--side-padding);
}

.game-menu__side--right {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: var(--side-padding);
}

.game-menu__side--left::after,
.game-menu__side--right::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 80%;

  top: 50%;

  transform: translateY(-50%);
  background-color: #222222;
}
.game-menu__side--left::after {
  right: 0;
}
.game-menu__side--right::before {
  left: 0;
}

.game-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.game-menu__list-item {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  font: inherit;
  font-size: var(--btn-fs);

  /* makes text outlined */
  -webkit-text-fill-color: var(--btn-text-fill-clr);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--btn-text-stroke-clr);

  /* reset btn default styles */
  border: none;
  background-color: transparent;
  transition: transform 150ms;
}

.menu-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.menu-button--active {
  filter: drop-shadow(1px 0px 1px var(--shadow-clr));
}

.game-menu__frame-wrapper {
  position: relative;
  filter: saturate(0.3);
}

.game-menu__item-preview-frame {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;

  mask: url('/src/assets/icons/previews/menu_item_preview_frame.svg') right/101% 109%;
  -webkit-mask: url('/src/assets/icons/previews/menu_item_preview_frame.svg') right/101% 109%;
}

.preview,
.game-menu__score {
  position: absolute;
  top: 51%;
  left: 49%;
  width: 82%;
  transform: translate(-50%, -50%);
}
.game-menu__score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-weight: 700;
}

.preview__mask {
  max-width: 115%;
}

.frame0,
.frame1,
.frame2,
.frame3 {
  background: linear-gradient(to right, #e69ce0, #1c92d2);
  transform: rotateZ(5deg);
}

.frame2 {
  transform: rotateZ(5deg) scale(0.9);
}

@media screen and (min-width: 420px) {
  .game-menu {
    --side-padding: 1rem;
  }
}
@media screen and (min-width: 1240px) {
  .game-menu {
    --btn-fs: 3rem;
  }
}
