.container {
  max-width: 1440px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 2rem;
  }
}

/* POSITIONING */
.full-height {
  height: 100dvh;
}

.centered-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* SPACING */
.mb-1rem {
  margin-bottom: 1rem !important;
}
.mb-2rem {
  margin-bottom: 2rem !important;
}
.pt-3rem {
  padding-top: 3rem !important;
}

/* VISUAL */
.hidden {
  opacity: 0;
  visibility: hidden;
}
